@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: RobotoBold;
    src: url(./fonts/Roboto-Bold.ttf);
}
*{
    margin: 0;
    padding: 0;
    font-family: Roboto;
}
:root{
    --bg-color: #121212;
    --text-color: #EAEAEA;
    --accent-color: #BB86FC;
}
body{
    background-color: var(--bg-color);
}



/* Common styles */
.title{
    font-size: 50px;
    margin-bottom: 32px;
    font-family: RobotoBold;
    text-align: center;
}
.title mark{
    font-size: 50px;
    font-family: RobotoBold;
    margin-bottom: 48px;
    text-align: center;
    color: var(--accent-color);
    background-color: transparent;
}



/* Navigation Styles */
header{
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 9%;
    z-index: 100;
	background-color: var(--bg-color);
}
/* Child combinator 1 */
header > a:first-of-type{
    text-decoration: none;
    color: var(--text-color);
    font-size: 40px;
    font-weight: 600;
}
.nav-bar{
	position: relative;
	border-radius: 8px;
	font-size: 0;
	margin-left: auto;
	display: flex;
}
/* Attribute selector 1 */
.nav-bar a[href^="/"]{
	font-size: 15px;
	text-transform: uppercase;
	color: var(--text-color);
	text-decoration: none;
	line-height: 40px;
	position: relative;
	z-index: 10;
	display: inline-block;
	text-align: center;
}
#sidebar-active{
	display: none;
}
.open-sidebar-button, .close-sidebar-button{
	display: none;
}
.nav-bar .animation{
	position: absolute;
	height: 100%;
	top: 1;
	z-index: -10;
	background: var(--accent-color);
	border-radius: 8px;
	transition: all .5s ease 0s;
}
.nav-bar a:nth-child(2){
	width: 104px;
}
nav .active-home~.animation, a:nth-child(2):hover~.animation{
	width: 104px;
	left: 0;
}
.nav-bar a:nth-child(3){
    width: 112px;
}
nav .active-about~.animation, a:nth-child(3):hover~.animation{
	width: 112px;
	left: 104px;
}
.nav-bar a:nth-child(4){
    width: 138px
}
nav .active-projects~.animation, a:nth-child(4):hover~.animation{
	width: 138px;
	left: 216px;
}
.nav-bar a:nth-child(5){
    width: 130px;
}
nav .active-contact~.animation, a:nth-child(5):hover~.animation{
	width: 130px;
	left: 354px;
}




/* Homepage styles */
main{
    margin-top: 88px;
    height: 74vh;
    display: flex;
    align-content: center;
    padding: 0 13% 0 9%;
}
.home{
    color: var(--text-color);
    display: grid;
    grid-template-columns: 600px 300px;
    justify-content: space-between;
}
.home-email form{
    width: 300px;
    position: relative;
}
.home-content h1{
    font-size: 50px;
    padding-bottom: 20px;
    font-family: RobotoBold;
}
.home-typewriter{
    display: flex;
    font-size: 25px;
    font-weight: 900;
    color: var(--accent-color);
    padding-bottom: 10px;
}
/* specificity: 1 */
.dynamic-texts li{
    list-style: none;
    font-family: monospace;
    font-size: 25px;
    letter-spacing: 1px;
    position: relative;
}
.home-typewriter .dynamic-texts{
    margin-left: 7px;
    line-height: 31px;
    height: 31px;
    overflow: hidden;
}
.dynamic-texts li{
    position: relative;
    top: 0;
    animation: slide 20s steps(4) infinite;
}
@keyframes slide{
    100%{
        top: -128px;
    }
}
/* Pseudo element 1 */
.dynamic-texts li::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-left: 2px solid var(--text-color);
    left: 0;
    animation: typing 5s steps(15) infinite;
    background-color: var(--bg-color);
}
@keyframes typing{
    40%, 60%{
        left: calc(100%);
    }
    100%{
        left: 0;
    }
}
.home-content p{
    font-size: 18px;
    line-height: 24px;
    text-align: justify;
    padding-bottom: 20px;
    width: 500px;
}
/* Structural selector 1 */
.home-email form input:first-child{
    padding: 14px 130px 14px 15px;
    border: 2px solid var(--accent-color);
    border-radius: 30px;
    outline: none;
}
/* Structural selector 2 */
.home-email form input:last-child{
    position: absolute;
    top: 4px;
    right: 8px;
    padding: 10px 12px;
    border-radius: 30px;
    outline: none;
    border: 2px solid var(--text-color);
    color: var(--text-color);
    font-weight: 900;
    background-color: var(--accent-color);
}
.home-email form input:last-child:hover{
    box-sizing: border-box;
    border: 2px solid var(--accent-color);
    color: var(--accent-color);
    background-color: var(--text-color);
}
.home-socials{
    position: absolute;
    bottom: 65px;
    display: flex;
    gap: 20px;
}
.home-socials svg{
    fill: var(--accent-color);
    height: 30px;
    width: 30px;
}
/* Attribute selector 2 */
.home-socials a[href^="https"]{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border: 2px solid var(--accent-color);
    border-radius: 50%;
    overflow: hidden;
}
/* Attribute selector 3 */
.home-socials a[href^="https"]:hover svg{
    fill: var(--bg-color);
}
/* Pseudo element 2 */
.home-socials a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    background-color: var(--accent-color);
    height: 100%;
    z-index: -10;
    transition: 0.5s;
}
/* Pseudo element 3 */
.home-socials a[href^="https"]:hover::before{
    width: 100%;
}
.home-image img{
    height: 300px;
    border: 4px solid var(--accent-color);
    border-radius: 50%;
}



/* Aboutpage styles */
.about{
    height: 74vh;
}
.bttn{
    position: relative;
    width: 150px;
    height: 50px;
    background-color: var(--accent-color);
    /* background-color: transparent; */
    border: 3px solid var(--accent-color);
    border-radius: 12px;
    font-size: 18px;
    z-index: 10;
    overflow: hidden;
    transition: .5s;
}
.bttn a{
    position: relative;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bg-color);
    /* color: var(--accent-color); */
    font-weight: 600;
    letter-spacing: 1px;
}
.bttn a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--bg-color);
    /* background-color: var(--accent-color); */
    z-index: -10;
    transition: .5s;
}
.bttn a:hover::before{
    width: 100%;
}
.bttn a:hover{
    color: var(--accent-color);
    /* color: var(--bg-color); */
}
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    color: var(--text-color);
}
figure{
    position: relative;
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-image img{
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid var(--accent-color);
}
figure .circle-animation{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border-top: 3px solid var(--bg-color);
    border-left: 3px solid var(--accent-color);
    border-bottom: 3px solid var(--bg-color);
    border-right: 3px solid var(--accent-color);
}
.about-content{
    text-align: center;
}
.about-content h3{
    font-size: 30px;
}
.about-content p{
    font-size: 18px;
    margin: 15px;
}
.bttn{
    display: inline-block;
}



/* Footer styles */
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    border-top: 1px solid var(--text-color);
}



/* Responsive styles */
@media (max-width: 1230px){
    .home{
        display: block;
    }
    .home img{
        display: none;
    }
}
@media (max-width: 720px) {
	header{
		align-items: start;
		height: 90px;
		background-color: var(--bg-color);
	}
    .nav-bar{
		right: -100%;
		z-index: 10;
        flex-direction: column;
		padding: 50px 20px 20px 30px;
		background-color: var(--accent-color);
		transition: .75s ease-out;
    }
	.close-sidebar-button{
		position: absolute;
		display: block;
		left: 10px;
		top: 10px;
	}
	.open-sidebar-button{
		position: absolute;
		z-index: -10;
		display: block;
		right: 9%;
		top: 32px;
	}
	/* Validity pseudo class 1*/
	#sidebar-active:checked~.nav-bar{
		right: 0;
	}
	#sidebar-active:checked~#overlay{
		height: 100%;
		width: 100%;
		position: fixed;
		z-index: 5;
	}
	.nav-bar .animation{
		background: var(--accent-color);
		border: 2px solid var(--text-color);
	}
    nav .active-home~.animation, a:nth-child(2):hover~.animation,
	nav .active-about~.animation, a:nth-child(3):hover~.animation,
	nav .active-projects~.animation, a:nth-child(4):hover~.animation,
	nav .active-contact~.animation, a:nth-child(5):hover~.animation{
		height: 36px;
		left: 40px;
		top: 50px;
	}
	nav .active-about~.animation, a:nth-child(3):hover~.animation{
		top: 90px;
	}
	nav .active-projects~.animation, a:nth-child(4):hover~.animation{
		top: 130px;
	}
	nav .active-contact~.animation, a:nth-child(5):hover~.animation{
		top: 170px;
	}
	.home-content h1{
		width: 400px;
	}
	.home-content p{
		width: 300px;
		text-align: left;
	}
}
@media (max-height: 625px){
    .home, .about{
        height: fit-content;
    }
	.home-socials{
		position: static;
		padding: 20px 0;
	}
    footer{
        position: static;  
        margin: 20px 0;
    }
}