/* common fonts */
/* roboto normal */
@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto-Regular.ttf);
}

/* roboto bold */
@font-face {
    font-family: RobotoBold;
    src: url(./fonts/Roboto-Bold.ttf);
}

/* common styles */
*{
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

body{
    background-color: var(--bg-color);
}

main{
    margin-top: 88px;
    height: 74vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 0 13% 0 9%;
    color: var(--text-color);
}

/* Negation pseudo class */
.title:not(.title mark){
    font-size: 50px;
    margin-bottom: 32px;
    font-family: RobotoBold;
    text-align: center;
}

.title mark{
    font-size: 50px;
    font-family: RobotoBold;
    margin-bottom: 48px;
    text-align: center;
    color: var(--accent-color);
    background-color: transparent;
}

/* common button styles */
.bttn-container{
    position: relative;
    width: 150px;
    height: 50px;
    background-color: var(--accent-color);
    /* background-color: transparent; */
    border: 3px solid var(--accent-color);
    border-radius: 12px;
    font-size: 18px;
    z-index: 10;
    overflow: hidden;
    transition: .5s;
}

.bttn-container .bttn{
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    outline: none;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bg-color);
    /* color: var(--accent-color); */
    font-weight: 600;
    letter-spacing: 1px;
}

/* button style: normal */
.bttn-container .bttn::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--bg-color);
    /* background-color: var(--accent-color); */
    z-index: -10;
    transition: .5s;
}

/* button style: normal */
.bttn-container .bttn:hover::before{
    width: 100%;
}

/* button style: hover */
.bttn-container .bttn:hover{
    color: var(--accent-color);
    /* color: var(--bg-color); */
}

.bttn-container{
    display: inline-block;
}

/* common colors */
:root{
    --bg-color: #121212;
    --text-color: #EAEAEA;
    --accent-color: #BB86FC;
}



/* header styles */
header{
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 9%;
    z-index: 100;
	background-color: var(--bg-color);
}

/* logo style */
header > a:first-of-type{
    text-decoration: none;
    color: var(--accent-color);
    font-size: 40px;
    font-weight: 600;
}

.nav-bar{
	position: relative;
	border-radius: 8px;
	font-size: 0;
	margin-left: auto;
	display: flex;
}

/* nav link style */
.nav-bar a[href^="/"]{
	font-size: 15px;
	text-transform: uppercase;
	color: var(--text-color);
	text-decoration: none;
	line-height: 40px;
	position: relative;
	z-index: 10;
	display: inline-block;
	text-align: center;
}

/* hiding checkbox used for toggle, when toggle not in use */
#sidebar-active{
	display: none;
}

/* hiding checkbox used for toggle, when toggle not in use */
.open-sidebar-button, .close-sidebar-button{
	display: none;
}

/* navigation bar active/hover animation */
.nav-bar .animation{
	position: absolute;
	height: 100%;
	top: 1;
	z-index: -10;
	background: var(--accent-color);
	border-radius: 8px;
	transition: all .5s ease 0s;
}

/* width of nav each nav link */
.nav-bar a:nth-child(2){
	width: 104px;
}

.nav-bar a:nth-child(3){
    width: 112px;
}

.nav-bar a:nth-child(4){
    width: 138px
}

.nav-bar a:nth-child(5){
    width: 130px;
}

/* applyin animation on active/hover for each nav link*/
nav .active-home~.animation, a:nth-child(2):hover~.animation{
	width: 104px;
	left: 0;
}

nav .active-about~.animation, a:nth-child(3):hover~.animation{
	width: 112px;
	left: 104px;
}

nav .active-projects~.animation, a:nth-child(4):hover~.animation{
	width: 138px;
	left: 216px;
}

nav .active-contact~.animation, a:nth-child(5):hover~.animation{
	width: 130px;
	left: 354px;
}




/* home page styles */
.home{
    display: grid;
    grid-template-columns: 600px 300px;
    justify-content: space-between;
}

/* home page title styles */
/* Child combinator 2 */
.home-content > h1:first-of-type{
    font-size: 50px;
    padding-bottom: 20px;
    font-family: RobotoBold;
    /* gradient */
    background: radial-gradient(#BB86FC, #EAEAEA);
    -webkit-background-clip: text;
    color: transparent;
}

/* typewriter styles*/
.home-typewriter{
    display: flex;
    font-size: 25px;
    font-weight: 900;
    color: var(--accent-color);
    padding-bottom: 10px;
}

.dynamic-texts li{
    list-style: none;
    font-size: 25px;
    letter-spacing: 1px;
    position: relative;
}

/* Specificity 1 */
.home-typewriter .static-text, .dynamic-texts li span{
    font-family: monospace;
}

.home-typewriter .dynamic-texts{
    margin-left: 15px;
    line-height: 31px;
    height: 31px;
    overflow: hidden;
}

.dynamic-texts li{
    position: relative;
    top: 0;
    animation: slide 20s steps(4) infinite;
}

/* to only display one word of the ul*/
@keyframes slide{
    100%{
        top: -128px;
    }
}

.dynamic-texts li::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-left: 2px solid var(--text-color);
    left: 0;
    animation: typing 5s steps(15) infinite;
    background-color: var(--bg-color);
}

/* to give the typing effect */
@keyframes typing{
    40%, 60%{
        left: calc(100%);
    }
    100%{
        left: 0;
    }
}

.home-content p{
    font-size: 18px;
    line-height: 24px;
    text-align: justify;
    padding-bottom: 20px;
    width: 500px;
}

/* email feature styles */
.home-email form{
    width: 300px;
    position: relative;
}

/* Structural selector 1 */
/* bigger input style */
.home-email form input:first-child{
    padding: 14px 130px 14px 15px;
    border: 2px solid var(--accent-color);
    border-radius: 30px;
    outline: none;
}

/* Structural selector 2 */
/* smaller input style */
.home-email form input:last-child{
    position: absolute;
    top: 4px;
    right: 8px;
    padding: 10px 12px;
    border-radius: 30px;
    outline: none;
    border: 2px solid var(--text-color);
    color: var(--text-color);
    font-weight: 900;
    background-color: var(--accent-color);
}

.home-email form input:last-child:hover{
    box-sizing: border-box;
    border: 2px solid var(--accent-color);
    color: var(--accent-color);
    background-color: var(--text-color);
}


/* socials feature style */
.home-socials{
    position: absolute;
    bottom: 65px;
    display: flex;
    gap: 20px;
}

.home-socials svg{
    fill: var(--accent-color);
    height: 30px;
    width: 30px;
}

.home-socials a[href^="https"]{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border: 2px solid var(--accent-color);
    box-shadow: 5px 5px 10px rgba(187, 134, 252, 0.2);
    border-radius: 50%;
    overflow: hidden;
}

/* to give animation upon hover */
.home-socials a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    background-color: var(--accent-color);
    height: 100%;
    z-index: -10;
    transition: 0.5s;
}

.home-socials a[href^="https"]:hover::before{
    width: 100%;
}

.home-socials a[href^="https"]:hover svg{
    fill: var(--bg-color);
}

.home-image img{
    height: 300px;
    border: 4px solid var(--accent-color);
    border-radius: 50%;
}



/* about page styles */
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

figure{
    position: relative;
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-image img{
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid var(--accent-color);
}

figure .circle-animation{
    position:absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border-top: 3px solid var(--bg-color);
    border-left: 3px solid var(--accent-color);
    border-bottom: 3px solid var(--bg-color);
    border-right: 3px solid var(--accent-color);
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-name: spin;
}

@keyframes spin{
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.about-content{
    text-align: center;
}

.about-content h3{
    font-size: 30px;
    background: radial-gradient(#BB86FC, #EAEAEA);
    -webkit-background-clip: text;
    color: transparent;
}

.about-content p{
    font-size: 18px;
    margin: 15px;
}



/* projects page styles */
.projects{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: fit-content;
}

.pro-table{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
}

/* colomn style */
.pro-heading{
   font-size: 25px; 
   margin: 0 0 20px 32px;
   background: radial-gradient(#BB86FC, #EAEAEA);
   -webkit-background-clip: text;
   color: transparent;
}

.pro-container{
    border-left: 3px solid var(--accent-color);
    padding-left: 32px;
}

/* row style */
.pro-row{
    position: relative;
    padding: 18px;
    border: 3px solid var(--accent-color);
    box-shadow: 3.5px 3.5px 10px rgba(187, 134, 252, 0.2);
    border-radius: 10px;
    margin-bottom: 32px;
    z-index: 10;
}

/* to create the purple points on the left border of each blog/project post */
.pro-row::before{
    content: "";
    position: absolute;
    top: -3px;
    left: -48px;
    width: 25px;
    height: 25px;
    background-color: var(--accent-color);
    border-radius: 50%;
}

.pro-content .year{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 20px;
    color: var(--accent-color);
    padding-bottom: 8px;
}

.pro-content h3{
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: radial-gradient(#BB86FC, #EAEAEA);
    -webkit-background-clip: text;
    color: transparent;
}

.pro-content p{
    font-size: 20px;
    padding-top: 8px;
    line-height: 30px;
}

/* to give animation upon hover */
.pro-content::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0;
    height: 100%;
    background-color: rgba(187, 134, 252, 0.2);
    z-index: -10;
    transition: .5s;
}

.pro-content:hover::before{
    width: 100%;
}




/* contact page styles */
.contact{
    height: 80vh;
    display: flex;
    align-items: center;
}

.contact form{
    width: 700px;
    margin: 0 auto;
    text-align: center;
}

.contact form .input-container{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-container .input-feild{
    position: relative;
    width:47.5%;
    height: 40px;
    margin-bottom: 35px;
}

.contact form .textarea-feild textarea{
    width:47.5%;
}

.contact form .textarea-feild{
    position: relative;
}

.contact form .input-container .input-feild input,
.contact form .textarea-feild textarea{
    width: 100%;
    height: 100%;
    padding: 8px;
    font-size: 18px;
    color: var(--text-color);
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid var(--accent-color);
    box-shadow: 3.5px 3.5px 10px rgba(187, 134, 252, 0.2);
    outline: none;
}

.contact form .textarea-feild textarea{
    height: 200px;
    resize: none;
}

.contact form .input-container .input-feild input::placeholder,
.contact form .textarea-feild textarea::placeholder{
    color: var(--text-color);
    padding-left: 10px;
}

.contact form .textarea-feild textarea::placeholder{
    padding-top: 10px;
}

.contact form .input-feild .focus, .contact form .textarea-feild .focus{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0;
    height: 145%;
    border-radius: 5px;
    z-index: -10;
    transition: .5s;
    background-color: rgba(187, 134, 252, 0.2);
}

.contact form .textarea-feild .focus{
    height: 98%;
}

/* to give animation to input box sonce click on/ for valid answer  */
.contact form .input-container .input-feild input:focus~.focus,
.contact form .input-container .input-feild input:valid~.focus{
    width: 105%;
}

/* to give animation to textarea sonce click on/ for valid answer  */
.contact form .textarea-feild textarea:focus~.focus,
.contact form .textarea-feild textarea:valid~.focus{
    width: 102.5%;
}

.contact .bttn-container{
    margin-top: 15px;
}



/* footer styles */
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    border-top: 1px solid var(--text-color);
}

#footer{
    position: static;
}



/* responsive styles */
@media (max-width: 1230px){

    /* make home body cone colomn */
    .home{
        display: flex;
        flex-direction: column-reverse; 
        gap: 40px;
    }

    /* make home image smaller */
    .home-image img{
        height: 230px;
        border: 4px solid var(--accent-color);
        border-radius: 50%;
    }

    .home-socials{
        position: static;
		padding: 20px 0;
    }

    .home, .about, .projects, .contact{
        height: fit-content;
    }

    .pro-table{
        grid-template-columns: 1fr;
    }

    .contact form{
        text-align: start;
    }

    .contact form .input-container{
        display: block;
    }

    .contact form .textarea-feild textarea{
        width: 330px;    
    }

    .contact form .textarea-feild textarea:focus~.focus,
    .contact form .textarea-feild textarea:valid~.focus{
        width: 348px;
    }

    footer{
        position: static;  
        margin: 20px 0;
    }
}

@media (max-width: 740px) {
    /* toggle styles */
	header{
		align-items: start;
		height: 90px;
		background-color: var(--bg-color);
	}

    .nav-bar{
		right: -100%;
		z-index: 10;
        flex-direction: column;
		padding: 50px 20px 20px 30px;
		background-color: var(--accent-color);
		transition: .75s ease-out;
    }

	.close-sidebar-button{
		position: absolute;
		display: block;
		left: 10px;
		top: 10px;
	}

	.open-sidebar-button{
		position: absolute;
		z-index: -10;
		display: block;
		right: 9%;
		top: 32px;
	}

	/* Validity pseudo class 1*/
    /* to open and clase toggle */
	#sidebar-active:checked~.nav-bar{
		right: 0;
	}

	#sidebar-active:checked~#overlay{
		height: 100%;
		width: 100%;
		position: fixed;
		z-index: 5;
	}

	.nav-bar .animation{
		background: var(--accent-color);
		border: 2px solid var(--text-color);
	}

    nav .active-home~.animation, a:nth-child(2):hover~.animation,
	nav .active-about~.animation, a:nth-child(3):hover~.animation,
	nav .active-projects~.animation, a:nth-child(4):hover~.animation,
	nav .active-contact~.animation, a:nth-child(5):hover~.animation{
		height: 36px;
		left: 40px;
		top: 50px;
	}

	nav .active-about~.animation, a:nth-child(3):hover~.animation{
		top: 90px;
	}

	nav .active-projects~.animation, a:nth-child(4):hover~.animation{
		top: 130px;
	}

	nav .active-contact~.animation, a:nth-child(5):hover~.animation{
		top: 170px;
	}

	.home-content h1{
		width: 400px;
	}

	.home-content p{
		width: 300px;
		text-align: left;
	}

    .pro-table{
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
    }
}

@media (max-height: 625px){
    .home, .about{
        height: fit-content;
    }

	.home-socials{
		position: static;
		padding: 20px 0;
	}

    footer{
        position: static;  
        margin: 20px 0;
    }
}