@font-face {
    font-family: Roboto;
    src: url(/fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: RobotoBold;
    src: url(/fonts/Roboto-Bold.ttf);
}
:root{
    --color-1: #000000;
    --color-2: #ffffff;
    --color-3: #DDF344;
    --color-4: #4849E8;
}
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: var(--color-1);
    color: var(--color-2);
    font-family: Roboto;
}

/* Navigation bar styles */
#sidebar-active{
    display: none;
}
.close-sidebar-button, .open-sidebar-button{
    display: none;
}
.navigation-bar{
    height: 60px;
    border-bottom: 1px solid var(--color-2);
}
.navigation-link-container{
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    height: 30px;
}
.navigation-links{
    display: flex;
    gap: 30px;
}
/* attribute selector 1 */
a[href^= "#"]{
    text-decoration: none;
    color: var(--color-2);
    font-size: 16px;
}
/* UI pseudo class selector 1 */
a:hover{
    border: 2px solid var(--color-3);
    padding: 2px;
    color: var(--color-3);
}
/* structural selector 1 */
.navigation-link-container div:first-of-type {
    color: var(--color-3);
    transform: rotate(270deg);
}

/* Mainpage styles */
.hero-page{
    display: flex;
    justify-content: center;
    padding: 50px 0;
}
.side-bar div{
    height: 40px;
    width: 40px;
    background-color: #DDF344;
}
.side-bar{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.hero-page-container{
    width: 80%;
    display: grid;
    grid-template-columns: 400px 400px;
    justify-content: space-between;
    align-items: center;
}
.hero-page-content-left{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.hero-page-container h1{
    font-family: RobotoBold;
    font-size: 40px;
    line-height: 40px;
}
.hero-page-container mark{
    background-color: transparent;
    color: var(--color-3);
}
.typewriter-container{
    display: flex;
    font-size: 15px;
}
.dynamic-texts li{
    list-style: none;
    font-family: monospace;
    font-size: 16px;
    letter-spacing: 1px;
    position: relative;
}
.typewriter-container .dynamic-texts{
    margin-left: 5px;
    line-height: 20px;
    height: 20px;
    overflow: hidden;
}
.dynamic-texts li{
    position: relative;
    top: 0;
    animation: slide 20s steps(4) infinite;
}
@keyframes slide{
    100%{
        top: -81.5px;
    }
}
/* psuedo element */
.dynamic-texts li::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-left: 2px solid var(--color-2);;
    left: 0;
    animation: typing 5s steps(15) infinite;
    background-color: #000000;
}
@keyframes typing{
    40%, 60%{
        left: calc(100%);
    }
    100%{
        left: 0;
    }
}
.hero-page-introduction{
    font-size: 15px;
}
.hero-page-content-left button{
    width: fit-content;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 17px;
    font-family: RobotoBold;
    background-color:var(--color-1);
    color: var(--color-2);
    border: 2.5px solid var(--color-3);
    cursor: pointer;
}
.hero-page-content-left button:hover{
    background-color: var(--color-4);
    color: var(--color-3);
}
.hero-page-content-right{
    display: flex;
    gap: 20px;
}
.hero-page-image img {
    width: 300px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border-top: 1px solid var(--color-2);
    font-size: 14px;
}

/* Responsive styling */
@media(max-width: 950px) {
    .hero-page-container{
        grid-template-columns: 300px 300px;
    }
    .hero-page-image img {
        width: 200px;
    }
}
@media(max-width: 650px){
    .hero-page-container{
        grid-template-columns: 300px;
        gap: 20px;
    }
}
@media (max-width: 540px) {
    .navigation-links{
        gap: 0;

        flex-direction: column;
        align-items: flex-start;

        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;

        width: 10rem;
        height: 100%;

        background-color: var(--color-4);
        border: 2px solid var(--color-3);
        border-top-left-radius: 16px;
        border-bottom-left-radius: 16px;

        transition: 0.75s ease-out; /* transition 1 */
    }
    a[href^= "#"]{
        text-decoration: none;
        color: var(--color-2);
        margin-top: 20px;
        margin-left: 10px;
    }
    a:hover{
        border: 2px solid var(--color-3);
        padding: 2px;
        color: var(--color-3);
    }
    /* structural selector 2 */
    .navigation-links a:last-of-type {
        margin-bottom: 10px;
    }
    /* pseudo class selector 1 */
    .close-sidebar-button{
        display: block;
        margin: 5px;
    }
    .open-sidebar-button{
        display: block;
    }
    #sidebar-active:checked ~ .navigation-link-container .navigation-links{
        right: 0;
    }
    #sidebar-active:checked ~ #overlay{
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;

        transition: 0.75s ease-out; /* transition 2 */
    }
}